.brand {
    position: absolute;
}

.form-container {
    display: flex;
    position:relative;
}

.form-inline {
    position: relative;
    top: 35%;
}

#search-button {
    position: relative;
    right: 15%;
    top: 25%;
    border: none;
    background: none;
    color: black;
}

